---
import Layout from "../layouts/Layout.astro";
import Gallery from "@components/Gallery.astro";
---

<Layout title="Welcome to Astro.">
  <section>
    <h1>Section 1</h1>
    <Gallery galleryid="1" />
    <Gallery galleryid="2" />
    <Gallery galleryid="3" />
  </section>
</Layout>
<style>
  section {
    width: 70%;
    max-width: 1600px;
    margin-inline: auto;
  }
</style>
