---
import Layout from "../layouts/Layout.astro";
import LightboxA from "@components/Lightbox.astro";
---

<Layout title="Welcome to Astro.">
  <section>
    <h1>Lightbox</h1>
    <LightboxA galleryid="1" />
  </section>
</Layout>
<style>
  section {
    width: 90%;
    max-width: 1600px;
    margin-inline: auto;
  }
</style>
