---
import Layout from "../layouts/Layout.astro";
import LightboxA from "@components/Lightbox.astro";
import LightboxB from "@components/LightboxGrid.astro";
---

<Layout title="Welcome to Astro.">
  <section class="surface">
    <h1>Lightbox</h1>
    <LightboxB galleryid="apollo" />
    <!-- <LightboxB galleryid="apollo" /> -->
  </section>
</Layout>
<style>
  .surface {
    width: 90%;
    max-width: 1800px;
    margin-inline: auto;
  }
  @media screen and (max-width: 600px) {
    .surface {
      width: 98%;
      margin-inline: auto;
      background-color: rgba(255, 0, 0, 0.205);
    }
  }
</style>
