---
import Layout from "../layouts/Layout.astro";
import Gallery from "@components/Gallery.astro";
import Splide from "@components/SplideSlide.astro";
---

<Layout title="Welcome to Astro.">
  <section>
    <h1>Slider 1</h1>
    <!-- <Swiper galleryid="3" /> -->

    <Splide galleryid="jwst" />
  </section>
</Layout>
<style>
  section {
    width: 85%;
    max-width: 1600px;
    margin-inline: auto;
  }
</style>
