---
import Layout from "../layouts/Layout.astro";
import Gallery from "@components/Gallery.astro";
import TestCard from "@components/TestCard.astro";
import { Image } from "astro:assets";
import Test from "@components/TestCard.astro";
import testImageP from "@images/2/cat_07.jpg";
import testImage from "@images/1/cat_1.jpg";
---

<Layout title="Welcome to Astro.">
  <TestCard />
  <!-- Material Design from Icones-->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225Z"></path></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10Z"></path></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="m9.4 16l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.4L14.6 8L12 10.6L9.4 8L8 9.4l2.6 2.6L8 14.6ZM4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Z"
    ></path></svg
  >
  <h1>Test Page</h1>
  <main>
    <section class="test1">
      <div class="image-wrapper">
        <!-- <p>Image</p> -->
        <Image src={testImageP} alt="" />
      </div>
      <div class="text-wrapper">
        <p>
          Text: heights of parts based on VH and LH. Use variable for number of
          lines
        </p>
        <ol>
          <li>XXX</li>
          <li>XXX</li>
          <li>XXX</li>
          <li>XXX</li>
        </ol>
      </div>
    </section>
    <section class="test2">
      <div class="image-wrapper">
        <!-- <p>Image</p> -->
        <Image src={testImageP} alt="" />
      </div>
      <div class="text-wrapper">
        <p>
          Text: heights of parts based on VH and LH. Use variable for number of
          lines
        </p>
        <ol>
          <li>XXX</li>
          <li>XXX</li>
          <li>XXX</li>
          <li>XXX</li>
        </ol>
      </div>
    </section>
  </main>
</Layout>
<style lang="scss">
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .test1 {
    background-color: rgb(255, 254, 254);
    height: 100vh;
    line-height: 1.6;
    display: grid;

    .image-wrapper {
      background: rgba(255, 0, 0, 0.693);
      height: calc(100vh - 5lh);
    }
    .text-wrapper {
      background: rgba(37, 43, 100, 0.447);
      height: 5lh;
      li {
        line-height: 1.1;
      }
    }
  }
  .test2 {
    // Use --_lines for number of lines of text reserved for description
    --_lines: 6;
    --_lineHeight: 1.7;
    background-color: rgb(52, 206, 52);
    height: 100vh;
    line-height: var(--_lineHeight);
    display: grid;
    .image-wrapper {
      background: rgba(255, 0, 0, 0.693);
      height: calc(100vh - var(--_lines) * 1lh);
      display: grid;
      align-content: center;
      img {
        max-height: calc(100vh - var(--_lines) * 1lh);
        width: auto;
        margin: auto;
      }
    }
    .text-wrapper {
      background: rgba(37, 43, 100, 0.447);
      height: calc(var(--_lines) * 1lh);
      li {
        line-height: 1.1;
      }
    }
  }
</style>
