---
import Layout from "../layouts/Layout.astro";
import Gallery from "@components/Gallery.astro";
import TestCard from "@components/TestCard.astro";

import Test from "@components/TestCard.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <TestCard />
    <h1>Test Page</h1>
  </main>
</Layout>
<style>
  .gallery-wrapper {
    grid-column: 2 /-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
  }
</style>
