---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import image from "@images/1/cat_1.jpg";
---

<Layout title="Welcome to Astro.">
  <section>
    <h1>Test</h1>
    <button class="thumb" id="show">
      <Image src={image} alt="cat" id="thumb-image" />
    </button>

    <dialog>
      <Image src={image} alt="cat" id="modal-image" />
      <button autofocus>Close</button>
    </dialog>
  </section>
</Layout>

<style>
  section {
    width: 85%;
    max-width: 1600px;
    margin-inline: auto;
  }
  .thumb {
    max-width: 25ch;
    padding: 0;
    margin: 0;
    border: none;
  }

  #thumb-image,
  #modal-image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .hidden {
    opacity: 0; /* Ensure hidden images have opacity 0 */
  }

  #dialog:not([open]) #modal-image {
    opacity: 0;
  }
</style>
